params {

	out = "/media/meep/GenomeAbyss/koala/2206_mhc"
	vcf = "/media/meep/GenomeAbyss/koala/JG-308_samples.hard-filtered.vcf.gz"
	tbi = "${params.vcf}.tbi"
	bed = "${params.out}/koala_MHC_exons.bed"

	metadata = "/home/meep/Desktop/People/fred/phasco_genes/data/metadata.csv"
}

trace {
	enabled = true
	file = "trace_report.tsv"
}
